{% extends 'heritage.html.twig' %}

{% block titreDuDocument %}
    Nouveay Titre du document
{% endblock %}

{% block corpDuDocument %}
    <ol>
        <li>Nouveau contenu</li>
        <li>J'adore l'heritage dans Twig</li>
    </ol>

{% endblock %}


